/* #package css/main */

.visibility-group.spacer {
    background: #ccc;
}

.visibility-group.control-panel {
    position: relative;
    left: 0;
    top: 0;

    display: flex;
    width: 50px;
    height: 10px;
}

.visibility-group.control-panel > img {
    flex: 1;
    width: 10px;
    height: 10px;
    cursor: pointer;
}
